AttPayroll/bin/Debug/ConsoleProgram.exe.config
AttPayroll/bin/Debug/ConsoleProgram.vshost.exe.config
AttPayroll/obj/Debug/ConsoleProgram.csproj.FileListAbsolute.txt
AttPayroll/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AttPayroll/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AttPayroll/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Core/bin/Debug/Core.dll.config
Core/bin/Debug/EntityFramework.xml
Core/obj/Debug/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Data/bin/Debug/EntityFramework.xml
Data/obj/Debug/Data.csproj.FileListAbsolute.txt
Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Service/obj/Debug/Service.csproj.FileListAbsolute.txt
Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Validation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Validation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Validation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Validation/obj/Debug/Validation.csproj.FileListAbsolute.txt
AttPayroll/bin/Debug/ConsoleProgram.vshost.exe.manifest
DXWPFApplication1/App.xaml
DXWPFApplication1/App.xaml.cs
DXWPFApplication1/DXWPFApplication1.csproj
DXWPFApplication1/MainWindow.xaml
DXWPFApplication1/MainWindow.xaml.cs
DXWPFApplication1/Properties/AssemblyInfo.cs
DXWPFApplication1/Properties/Resources.Designer.cs
DXWPFApplication1/Properties/Resources.resx
DXWPFApplication1/Properties/Settings.Designer.cs
DXWPFApplication1/Properties/Settings.settings
DXWPFApplication1/Properties/licenses.licx
DXWPFApplication1/obj/x86/Debug/App.g.cs
DXWPFApplication1/obj/x86/Debug/App.g.i.cs
DXWPFApplication1/obj/x86/Debug/DXWPFApplication1.Properties.Resources.resources
DXWPFApplication1/obj/x86/Debug/DXWPFApplication1.csproj.FileListAbsolute.txt
DXWPFApplication1/obj/x86/Debug/DXWPFApplication1.g.resources
DXWPFApplication1/obj/x86/Debug/DXWPFApplication1_MarkupCompile.lref
DXWPFApplication1/obj/x86/Debug/MainWindow.baml
DXWPFApplication1/obj/x86/Debug/MainWindow.g.cs
DXWPFApplication1/obj/x86/Debug/MainWindow.g.i.cs
DXWPFApplication1/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DXWPFApplication1/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DXWPFApplication1/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DXWPFApplication1/obj/x86/Debug/dxwpfapplication1.exe.licenses
Service/bin/Debug/EntityFramework.xml
Validation/bin/Debug/EntityFramework.xml
